
.slider {
  width: 100%;
  margin: 0 auto;

}

.slider h1 {
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  position: relative;
  text-align: center;
  height: 100%;
}

.slider img {
  max-width: 100%;
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: auto;
  position: relative;
  text-align: center;
  height: 100%;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height:700px;
  width: 100%;
  overflow: hidden;
}

.center .slick-center h1 {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}

.center h1 {
  opacity: 0.8;
  transition: all 300ms ease;
}

.buttons {
  padding: 0 20px 20px;
  margin: 40px auto;
  width: 600px;
}

.button {
  background: #3498db;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 41%;
}

.buttons .button {
  background: #FFF;
  color: #3498db;
  float: left;
  margin: 5px;
}
