html, body {
    background-color: #ffffff;
    font-size: 13px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
.color-div{
  width: 100%;
  height: 4px;
  background-color: #2d89b1;
}
/*Menu*/
#menu{
  position: fixed;
}
.topnav {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.274);
  position: relative;
  height: 725.53px;
}
.nav .icon{
  display: none;
}
.nav{
  overflow: hidden;
}
.navbar-default {
  background: rgba(7, 143, 177, 0.295);
    border-color:0;
}

.navbar {
    min-height:90px;
    margin-bottom:0;
    border:0;
    border-radius:0;

}

.navbar-default .navbar-nav>li>a {
    font-size:14px;
    text-transform:uppercase;
  line-height: 55px;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#4bcaff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    border-top: 3px solid #4bcaff;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}



.slider h1 {
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
  height: 100%;
}

.slider img {
  background-repeat: no-repeat top;
  background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  height: auto;
    overflow: hidden;
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  margin: auto;
  padding: 2%;
  position: relative;
  text-align: center;
}

.center .slick-center h1 {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h1 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: transparent;
  background-color: #2e5e7c;
  top: 50%;
  margin-top: -45px;
  font-size: 10px;
  border-radius: 50%;
  z-index: 2;
}
.slick-next {
  right: -7px;
  padding-left: 12px;
  right: 2rem;
}
.slick-prev {
  left: -7px;
  padding-left: 12px;
  left: 2rem;
}
.slick-list.draggable {
  margin: auto;
}
#single_item {
  float: center;
}

.slider {
  margin: 0px 00px;
}
.slider img {
  padding: 0%;
  margin: 0px 0px;
  position: relative;
  text-align: center;
  background-repeat: no-repeat top;
  background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    min-height: 796px;

    overflow: hidden;
  background: #fff;
  color: #3498db;
  font-size: 36px;
  line-height: 100px;
  height: auto;
}
.buttons {
  padding: 0 20px 20px;
  margin: 40px auto;
  width: 600px;
}
.sections {
    padding-bottom:100px;
    position: relative;
    overflow: hidden;
}
.home-content{
  color:#fff;
  top: -40rem;
}
.home-content h1{
  font-size:40px;
  font-family: 'latolight';
}
.home-content h1 span{
  font-family: 'latobold';
  color:#fff;
}
.home-content p{
  margin:30px 0;
  
}
.available{
  margin-top:50px;
}
.available p{
  font-size:18px;
  font-family: 'latolight';
  font-weight:normal;
}
.home-content .available p a i {
    font-size: 25px;
    background: #191c21;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    padding-top: 13px;
    color: #4bcaff;
    margin: 0 10px;
  transition:.3s;
}

.home-content .available p a i:hover {
   color: #fff;
}

.button {
  background: #3498db;
  color: red;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 41%;
}

.buttons .button {
  background: #fff;
  color: #3498db;
  float: left;
  margin: 5px;
}
.slick-dots li button:before {
  font-size: 17px;
  line-height: 17px;
  border: 1px;
}
.slick-dots {
  position: relative;
  top: -8rem;
}
.available p {
    font-size: 18px;
    font-family: 'latolight';
    font-weight: normal;
}
.home-content p {
    margin: 30px 0;
}
p:last-child {
    margin-bottom: 0px;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p {
    margin: 0 0 15px;
}
p {
    margin: 0 0 10px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* direction: rtl; */
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lightbg {
    background-color: #f9f9f9;
}
.features-content{
  margin-bottom:30px;
}
.features-content i {
    background: #4bcaff;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    color: #fff;
    font-size: 85px;
    padding-top: 35px;
    margin-bottom: 20px;
  transition:.5s;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
}
.features-content h5{
  font-size:15px;
  text-transform:uppercase;
  font-weight:600;
  transition:.5s;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
}
.features-content:hover i {
  background:#414042;
  color:fff;
}
  
.features-content:hover h5{
  color: #4bcaff;
}
/*
gallery
*/

.gallery-item h6{
    top: 80%;
    width: 100%;
  position:absolute;
  z-index: 99;
  background:#4b4c4e3d;
  color:#4bcaff;
  padding:12px 0;
  font-size:15px;
  text-transform:uppercase;
  margin-top:0;
  border-radius:0px 0px 10px 10px;
  -webkit-border-radius:0px 0px 10px 10px;
  -moz-border-radius:0px 0px 10px 10px;
  -ms-border-radius:0px 0px 10px 10px;
}
.gallery img{
  width:100%;
}
.gallery{
  position:relative;
  margin-bottom:10px;
  overflow:hidden;
  border-radius:10px 10px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
  -moz-border-radius:10px 10px 0px 0px;
  -ms-border-radius:10px 10px 0px 0px;
}
.img-overlay{
  background:rgba(83, 159, 192, 0.384);
  opacity: 0.7;
  position:absolute;
  width: 100%;
    height: 79%;
    top: -90%;
  transition:.5s; 
}
.gallery:hover .img-overlay{
  top:0;  
}

.gallery-icon a{
  margin-left: 30px;
  font-size:15px;
  color:#fff;
  text-transform:uppercase;
  transition:.3s;
}
.gallery-icon:hover a{
  color:#c9c9c9;
}

.gallery-icon{
  position:absolute;
  color:red;
  z-index:1;
  transition:.5s;
  -webkit-transition:.5s;
}
.gallery:hover  .gallery-icon{
  bottom:50%;
  left:35%;
}


/*
video
*/
.video{
  background: url(../images/image.png) no-repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}
.video-content{
	color:#fff;
	margin-top: 60px;
}
.video-content i{
	border: 2px solid white;
    font-size: 35px;
    padding: 15px 40px;
    color: #fff;
    border-radius: 5px;
}
.video-content h1{
	font-size:40px;
	font-family: 'latolight';
	margin-top:25px;
}
.video-content h1 span{
	font-family: 'latobold';
	color:#fff;
}
.video-content p{
	margin:30px 0;
	
}
/*
  Prices
*/
.price-category{
	font-family: 'latobold';
	background:#f9f9f9;
	color:#d7d7d7;
	padding:20px 0;
	border:1px solid #cdcaca;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin-bottom:30px;
	-ms-border-radius:5px;
	box-shadow:1px 1px 1px 0 rgba(55,50,40, .10);
	-webkit-box-shadow:1px 1px 1px 0 rgba(55,50,40, .10);
	-moz-box-shadow:1px 1px 1px 0 rgba(55,50,40, .10);
	-ms-box-shadow:1px 1px 1px 0 rgba(55,50,40, .10);
}
.price-category h4{
	text-transform:uppercase;
}
.price-category h2{
	font-size: 85px;
    background: #91c46b;
    padding: 20px;
    color: #fff;
    font-family: 'latobold';
}
.price-category ul li{
	font-size:18px;
	line-height:35px;
}
.price-category a{
	border: 0;
    padding: 16px 50px;
    background: #91c46b;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 3px;
    font-size: 15px;
	display:inline-block;
	transition:.5s;
}
.price-category:hover{
	transform: scale(1.1);
}


.price-category.basic{
	margin-left:50px;
  padding-bottom: 60px;
}


.price-category.professional{
	color:#4bcaff;
}
.price-category.professional h4{
	font-size:22px;
}
.price-category.professional h2{
	background:#4bcaff;
}
.price-category.professional a{
	background:#4bcaff;
	transition:.5s;
}
.price-category.professional:hover{
  transform: scale(1.1);
}

.price-category.advance{
	margin-right:50px;
  padding-bottom: 60px;
}
.price-category.advance h2{
	background:#fd7c00;
}
.price-category.advance a{
	background:#fd7c00;
	transition:.5s;
}
.price-category.advance:hover{
	transform: scale(1.1);
}
.heading-content{
  padding-bottom: 5%;
}
/*
Testimonials
*/
}
.testimonial-photo img {
    height: 120px;
    width: 120px;
    border: 5px solid #fff;
    border-radius: 100%;
    background: #fff;
    margin-top: 28px;
    margin-right: 18px;
}

.testimonial-content{
  margin-top:40px;
}

.item {
  color:#4bcaff;
  
}
.item p{
  text-align:left;
}
.item h6{
  text-align:right;
  font-family: 'latolight_italic';
  font-size:14px;
}

.carousel-indicators {
    bottom: -70px;
    left: 325px;
}
.carousel-indicators li {
    display: inline-block;
    width: 50px;
    height: 7px;
    background-color:none;
    background-color:#c1eafb;
    border:0;
    border-radius:0;
}

.carousel-indicators .active {
    width: 50px;
    height: 8px;
    background-color: #4bcaff;
    border: 0;
}

/*
Download
*/
.btn-primary {
    padding: 20px 45px;
    background: #4bcaff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border: 0;
    box-shadow: inset 0 -5px 1px rgba(0,0,0,0.3);
  }
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.download-content{
  padding:50px;
  display:block;
  overflow:hidden;
}
.download-content h1{
  font-family: 'latobold';
  font-size:55px;
  margin-bottom:20px;
}
.download-content button{
  margin-top:35px;
      width: 20rem;
    height: 5rem;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.colorsbg {
    background: #414042;
    color: #ffffff;
}
/*
Contact
*/
#map{
  
  height:650px;
  width:100%;
  position:relative;
  overflow:hidden;
}


.contact-form-area{
  position:absolute;
  bottom:17rem;
  background:rgba(34,182,244, .6);
  padding:30px;
  width:85%;
  border:1px solid #cdcaca;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  margin-bottom:30px;
  -ms-border-radius:5px;
  box-shadow:1px 1px 1px 0 rgba(55,50,40, .10);
  -webkit-box-shadow:1px 1px 1px 0 rgba(55,50,40, .10);
  -moz-box-shadow:1px 1px 1px 0 rgba(55,50,40, .10);
  -ms-box-shadow:1px 1px 1px 0 rgba(55,50,40, .10);
  
}
.contact-form-area form h3{
  font-size:36px;
  color:#fff;
  font-family: 'latobold';
  margin-bottom:20px;
}
.form-control {
    height: 35px;
}
.contact-form-area form .contact-btn{
  background: #414042;
    padding: 14px 70px;
    color: #72b3cc;
}
.contact-form-area form .contact-btn:hover{
  background#fff;
  
}
.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
/*
  Footer
*/
.copyright{
  font-size:12px;
}
.copyright a{
  color:#4bcaff;
}
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
}
